<div class="row py-3" id="cookie-further-settings">
   <div class="col-12 mb-3">
      <div class="privacy-settings d-flex flex-column">
         <div class="privacy-settings-body overflow-auto">

            <div class="card consent-group">
               <div class="card-body mb-0">
                  <p class="card-title h4 d-flex">
                     <span class="flex-fill">
                        {{ i18n page.attributes.lang 'cookies_essential_label' }} {{ i18n page.attributes.lang 'cookies_essential.amount' }}
                     </span>
                     <span class="badge badge-primary bg-appearance">
                        {{ i18n page.attributes.lang 'cookies_essential_tag_label' }}
                     </span>
                  </p>
                  <p class="card-text">
                     {{ i18n page.attributes.lang 'cookies_essential.description' }}
                  </p>
               </div>
               <div class="card-body mt-0">
                  <div class="collapse" id="essentialSettings">
                     <div class="card consent bg-light mb-3 border-primary border-appearance active">
                        <div class="card-body">
                           <p class="d-flex mb-0 font-weight-bold">
                              <span class="flex-fill">
                                 {{ i18n page.attributes.lang 'cookies_essential.cookies_convenience_label' }}
                              </span>
                           </p>
                        </div>
                        <table class="table table-responsive-md table-sm table-striped mb-0">
                           <tbody>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_provider_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_essential.cookies_convenience.provider' }}</td>
                              </tr>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_purpose_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_essential.cookies_convenience.purpose' }}</td>
                              </tr>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_privacy_policy_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_essential.cookies_convenience.privacy_policy' }}</td>
                              </tr>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_lifespan_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_essential.cookies_convenience.lifespan' }}</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <div class="card consent bg-light mb-3 border-primary border-appearance active">
                        <div class="card-body">
                           <p class="d-flex mb-0 font-weight-bold">
                              <span class="flex-fill">
                                 {{ i18n page.attributes.lang 'cookies_essential.cookies_consent_label' }}
                              </span>
                           </p>
                        </div>
                        <table class="table table-responsive-md table-sm table-striped mb-0">
                           <tbody>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_provider_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_essential.cookies_consent.provider' }}</td>
                              </tr>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_purpose_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_essential.cookies_consent.purpose' }}</td>
                              </tr>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_privacy_policy_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_essential.cookies_consent.privacy_policy' }}</td>
                              </tr>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_lifespan_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_essential.cookies_consent.lifespan' }}</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <div class="card consent bg-light mb-3 border-primary border-appearance active">
                        <div class="card-body">
                           <p class="d-flex mb-0 font-weight-bold">
                              <span class="flex-fill">
                                 {{ i18n page.attributes.lang 'cookies_essential.cookies_session_label' }}
                              </span>
                           </p>
                        </div>
                        <table class="table table-responsive-md table-sm table-striped mb-0">
                           <tbody>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_provider_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_essential.cookies_session.provider' }}</td>
                              </tr>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_purpose_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_essential.cookies_session.purpose' }}</td>
                              </tr>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_privacy_policy_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_essential.cookies_session.privacy_policy' }}</td>
                              </tr>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_lifespan_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_essential.cookies_session.lifespan' }}</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <div class="card consent bg-light mb-3 border-primary border-appearance active">
                        <div class="card-body">
                           <p class="d-flex mb-0 font-weight-bold">
                              <span class="flex-fill">
                                 {{ i18n page.attributes.lang 'cookies_essential.cookies_csrf_label' }}
                              </span>
                           </p>
                        </div>
                        <table class="table table-responsive-md table-sm table-striped mb-0">
                           <tbody>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_provider_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_essential.cookies_csrf.provider' }}</td>
                              </tr>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_purpose_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_essential.cookies_csrf.purpose' }}</td>
                              </tr>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_privacy_policy_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_essential.cookies_csrf.privacy_policy' }}</td>
                              </tr>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_lifespan_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_essential.cookies_csrf.lifespan' }}</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <div class="card consent bg-light mb-3 border-primary border-appearance active">
                        <div class="card-body">
                           <p class="d-flex mb-0 font-weight-bold">
                              <span class="flex-fill">
                                 {{ i18n page.attributes.lang 'cookies_essential.cookies_elasticsearch_label' }}
                              </span>
                           </p>
                        </div>
                        <table class="table table-responsive-md table-sm table-striped mb-0">
                           <tbody>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_provider_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_essential.cookies_elasticsearch.provider' }}</td>
                              </tr>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_purpose_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_essential.cookies_elasticsearch.purpose' }}</td>
                              </tr>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_privacy_policy_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_essential.cookies_elasticsearch.privacy_policy' }}</td>
                              </tr>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_lifespan_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_essential.cookies_elasticsearch.lifespan' }}</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
                  <a class="card-link text-appearance" data-toggle="collapse" href="#essentialSettings" role="button" aria-expanded="false" aria-controls="essentialSettings">
                     {{ i18n page.attributes.lang 'cookies_more_information' }}
                  </a>
               </div>
            </div>

            <div class="card consent-group">
               <div class="card-body mb-0">
                  <p class="card-title h4 d-flex">
                     <span class="flex-fill">
                        {{ i18n page.attributes.lang 'cookies_statistics_label' }} {{ i18n page.attributes.lang 'cookies_statistics.amount' }}
                     </span>
                  </p>
                  <p class="card-text">
                     {{ i18n page.attributes.lang 'cookies_statistics.description' }}
                  </p>
               </div>
               <div class="card-body mt-0">
                  <div class="collapse" id="statisticsSettings">
                     <div class="card consent bg-light mb-3 border-primary border-appearance active">
                        <div class="card-body">
                           <p class="d-flex mb-0 font-weight-bold">
                              <span class="flex-fill">
                                 {{ i18n page.attributes.lang 'cookies_statistics.cookies_google_analytics_label' }}
                              </span>
                               <span class="custom-control custom-switch custom-control-appearance"><input type="checkbox" id="further-settings-google-analytics" class="custom-control-input cookie-settings" source="statistics" target="googleAnalytics">
                                   <label for="further-settings-google-analytics" class="custom-control-label">

                                   </label>
                                </span>
                           </p>
                        </div>
                        <table class="table table-responsive-md table-sm table-striped mb-0">
                           <tbody>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_provider_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_statistics.cookies_google_analytics.provider' }}</td>
                              </tr>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_purpose_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_statistics.cookies_google_analytics.purpose' }}</td>
                              </tr>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_privacy_policy_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_statistics.cookies_google_analytics.privacy_policy' }}</td>
                              </tr>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_lifespan_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_statistics.cookies_google_analytics.lifespan' }}</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
                  <a class="card-link text-appearance" data-toggle="collapse" href="#statisticsSettings" role="button" aria-expanded="false" aria-controls="statisticsSettings">
                     {{ i18n page.attributes.lang 'cookies_more_information' }}
                  </a>
               </div>
            </div>

            <div class="card consent-group">
               <div class="card-body mb-0">
                  <p class="card-title h4 d-flex">
                     <span class="flex-fill">
                        {{ i18n page.attributes.lang 'cookies_external_media_label' }} {{ i18n page.attributes.lang 'cookies_external_media.amount' }}
                     </span>
                  </p>
                  <p class="card-text">
                     {{ i18n page.attributes.lang 'cookies_external_media.description' }}
                  </p>
               </div>
               <div class="card-body mt-0">
                  <div class="collapse" id="externalMediaSettings">
                     <div class="card consent bg-light mb-3">
                        <div class="card-body">
                           <p class="d-flex mb-0 font-weight-bold">
                              <span class="flex-fill">
                                 {{ i18n page.attributes.lang 'cookies_external_media.cookies_youtube_label' }}
                              </span>
                              <span class="custom-control custom-switch custom-control-appearance"><input type="checkbox" id="further-settings-youtube" class="custom-control-input cookie-settings" source="media" target="youtube">
                                 <label for="further-settings-youtube" class="custom-control-label">

                                 </label>
                              </span>
                           </p>
                        </div>
                        <table class="table table-responsive-md table-sm table-striped mb-0">
                           <tbody>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_provider_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_external_media.cookies_youtube.provider' }}</td>
                              </tr>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_purpose_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_external_media.cookies_youtube.purpose' }}</td>
                              </tr>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_privacy_policy_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_external_media.cookies_youtube.privacy_policy' }}</td>
                              </tr>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_lifespan_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_external_media.cookies_youtube.lifespan' }}</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <div class="card consent bg-light mb-3">
                        <div class="card-body">
                           <p class="d-flex mb-0 font-weight-bold">
                              <span class="flex-fill">
                                 {{ i18n page.attributes.lang 'cookies_external_media.cookies_vimeo_label' }}
                              </span>
                              <span class="custom-control custom-switch custom-control-appearance"><input type="checkbox" id="further-settings-vimeo" class="custom-control-input cookie-settings" source="media" target="vimeo">
                                 <label for="further-settings-vimeo" class="custom-control-label">

                                 </label>
                              </span>
                           </p>
                        </div>
                        <table class="table table-responsive-md table-sm table-striped mb-0">
                           <tbody>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_provider_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_external_media.cookies_vimeo.provider' }}</td>
                              </tr>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_purpose_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_external_media.cookies_vimeo.purpose' }}</td>
                              </tr>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_privacy_policy_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_external_media.cookies_vimeo.privacy_policy' }}</td>
                              </tr>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_lifespan_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_external_media.cookies_vimeo.lifespan' }}</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
                  <a class="card-link text-appearance" data-toggle="collapse" href="#externalMediaSettings" role="button" aria-expanded="false" aria-controls="externalMediaSettings">
                     {{ i18n page.attributes.lang 'cookies_more_information' }}
                  </a>
               </div>
            </div>
            <div class="card consent-group">
               <div class="card-body mb-0">
                  <p class="card-title h4 d-flex">
                     <span class="flex-fill">
                        {{ i18n page.attributes.lang 'cookies_functional_label' }} {{ i18n page.attributes.lang 'cookies_functional.amount' }}
                     </span>
                  </p>
                  <p class="card-text">
                     {{ i18n page.attributes.lang 'cookies_functional.description' }}
                  </p>
               </div>
               <div class="card-body mt-0">
                  <div class="collapse" id="functionalSettings">
                     <div class="card consent bg-light mb-3">
                        <div class="card-body">
                           <p class="d-flex mb-0 font-weight-bold">
                              <span class="flex-fill">
                                 {{ i18n page.attributes.lang 'cookies_functional.cookies_preferred_language_label' }}
                              </span>
                              <span class="custom-control custom-switch custom-control-appearance"><input type="checkbox" id="further-settings-preferred-language" class="custom-control-input cookie-settings" source="functional" target="preferredLanguage">
                                 <label for="further-settings-preferred-language" class="custom-control-label">

                                 </label>
                              </span>
                           </p>
                        </div>
                        <table class="table table-responsive-md table-sm table-striped mb-0">
                           <tbody>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_provider_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_functional.cookies_preferred_language.provider' }}</td>
                              </tr>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_purpose_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_functional.cookies_preferred_language.purpose' }}</td>
                              </tr>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_privacy_policy_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_functional.cookies_preferred_language.privacy_policy' }}</td>
                              </tr>
                              <tr>
                                 <td class="pl-3">{{ i18n page.attributes.lang 'cookies_lifespan_label' }}</td>
                                 <td class="pr-3">{{ i18n page.attributes.lang 'cookies_functional.cookies_preferred_language.lifespan' }}</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
                  <a class="card-link text-appearance" data-toggle="collapse" href="#functionalSettings" role="button" aria-expanded="false" aria-controls="functionalSettings">
                     {{ i18n page.attributes.lang 'cookies_more_information' }}
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="col-12 col-md-3">
      <a href="#" class="text-appearance d-inline-block mb-3" id="hide-cookie-further-settings">
         {{ i18n page.attributes.lang 'cookies_further_settings_back' }}
      </a>
   </div>
</div>
