<div class="feedback-form-{{location}}-wrapper">
    <div class="feedback-form-wrapper">
        <form class="feedback-form" data-location="{{location}}">
            <div class="top" data-title="dsadas">
                <h6 class="title">{{i18n page.attributes.lang 'feedbackTitle'}}</h6>
            </div>

            <textarea placeholder="{{i18n page.attributes.lang 'feedbackPlaceholder'}}" name="feedback" id="feedback"
                      rows="5" maxlength="1500"></textarea>
            <input type="hidden" name="location" value="{{location}}">

            <div class="opinion-wrapper">
                <button type="submit" class="opinion like" data-location="{{location}}" data-opinion="like">
                    <i class="fa-pif-thumbs-up"></i>
                    {{i18n page.attributes.lang 'feedbackHelpful'}}
                </button>

                <button type="submit" class="opinion dislike" data-location="{{location}}" data-opinion="dislike">
                    <i class="fa-pif-thumbs-down"></i>
                    {{i18n page.attributes.lang 'feedbackNotHelpful'}}
                </button>
            </div>
        </form>
        <div class="feedback-submitted d-none">
            {{i18n page.attributes.lang 'feedbackThanks'}}
        </div>
        <i class="fa-pif-add close"></i>
    </div>
</div>
