<footer class="footer">
  <div class="container">
    <div class="row footer-menu">
      <div class="col-6 col-md-3 mt-2 mt-md-0">
        <div>
          <strong>
            {{ i18n page.attributes.lang 'footer_col_1' }}
          </strong>
        </div>
        <hr>
        <ul class="list-unstyled">
          <li><a class="footer-link" href="{{ i18n page.attributes.lang 'footer_link_1_1' }}"></a>{{ i18n page.attributes.lang 'footer_text_1_1' }}</li>
          <li><a class="footer-link" href="{{ i18n page.attributes.lang 'footer_link_1_2' }}"></a>{{ i18n page.attributes.lang 'footer_text_1_2' }}</li>
          <li><a class="footer-link" href="{{ i18n page.attributes.lang 'footer_link_1_3' }}"></a>{{ i18n page.attributes.lang 'footer_text_1_3' }}</li>
          <li><a class="footer-link" href="{{ i18n page.attributes.lang 'footer_link_1_4' }}"></a>{{ i18n page.attributes.lang 'footer_text_1_4' }}</li>
        </ul>
      </div>

      <div class="col-6 col-md-3 mt-2 mt-md-0">
        <div>
          <strong>
            {{ i18n page.attributes.lang 'footer_col_2' }}
          </strong>
        </div>
        <hr>
        <ul class="list-unstyled">
          <li><a class="footer-link" href="{{ i18n page.attributes.lang 'footer_link_2_1' }}"></a>{{ i18n page.attributes.lang 'footer_text_2_1' }}</li>
          <li><a class="footer-link" href="{{ i18n page.attributes.lang 'footer_link_2_2' }}"></a>{{ i18n page.attributes.lang 'footer_text_2_2' }}</li>
          <li><a class="footer-link" href="{{ i18n page.attributes.lang 'footer_link_2_3' }}"></a>{{ i18n page.attributes.lang 'footer_text_2_3' }}</li>
          <li><a class="footer-link" href="{{ i18n page.attributes.lang 'footer_link_2_4' }}"></a>{{ i18n page.attributes.lang 'footer_text_2_4' }}</li>
        </ul>
      </div>

      <div class="col-6 col-md-3 mt-2 mt-md-0">
        <div>
          <strong>
            {{ i18n page.attributes.lang 'footer_col_3' }}
          </strong>
        </div>
        <hr>
        <ul class="list-unstyled">
          <li><a class="footer-link" href="{{ i18n page.attributes.lang 'footer_link_3_1' }}"></a>{{ i18n page.attributes.lang 'footer_text_3_1' }}</li>
          <li><a class="footer-link" href="{{ i18n page.attributes.lang 'footer_link_3_2' }}"></a>{{ i18n page.attributes.lang 'footer_text_3_2' }}</li>
          <li><a class="footer-link" href="{{ i18n page.attributes.lang 'footer_link_3_3' }}"></a>{{ i18n page.attributes.lang 'footer_text_3_3' }}</li>
          <li><a class="footer-link" href="{{ i18n page.attributes.lang 'footer_link_3_4' }}"></a>{{ i18n page.attributes.lang 'footer_text_3_4' }}</li>
        </ul>
      </div>

      <div class="col-6 col-md-3 mt-2 mt-md-0">
        <div>
          <strong>
            {{ i18n page.attributes.lang 'footer_col_4' }}
          </strong>
        </div>
        <hr>
        <ul class="list-unstyled">
          <li><a class="footer-link" href="{{ i18n page.attributes.lang 'footer_link_4_1' }}"></a>{{ i18n page.attributes.lang 'footer_text_4_1' }}</li>
          <li><a class="footer-link" href="{{ i18n page.attributes.lang 'footer_link_4_2' }}"></a>{{ i18n page.attributes.lang 'footer_text_4_2' }}</li>
          <li><a class="footer-link" href="{{ i18n page.attributes.lang 'footer_link_4_3' }}"></a>{{ i18n page.attributes.lang 'footer_text_4_3' }}</li>
          <li><a class="footer-link" href="{{ i18n page.attributes.lang 'footer_link_4_4' }}"></a>{{ i18n page.attributes.lang 'footer_text_4_4' }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="social-list footer-menu text-center">
      <ul class="list-inline mb-0">
          <li class="list-inline-item">
              <a class="color-hover-linkedin" href="https://www.linkedin.com/company/plentymarkets-ltd/"><i class="fa fa-linkedin"></i><span class="sr-only">LinkedIn</span></a>
          </li>
          <li class="list-inline-item">
              <a class="color-hover-facebook" href="https://www.facebook.com/plentymarkets"><i class="fa fa-facebook"></i><span class="sr-only">Facebook</span></a>
          </li>
          <li class="list-inline-item">
              <a class="color-hover-instagram" href="https://www.instagram.com/plentysystems/"><i class="fa fa-instagram"></i><span class="sr-only">Instagram</span></a>
          </li>
          <li class="list-inline-item">
              <a class="color-hover-youtube" href="https://www.youtube.com/channel/UCauJsvmhbPNp6ii7tCGwxMg"><i class="fa fa-youtube-play"></i><span class="sr-only">Youtube</span></a>
          </li>
          <li class="list-inline-item">
              <a class="color-hover-twitter" href="https://twitter.com/plentymarkets"><i class="fa fa-twitter"></i><span class="sr-only">Twitter</span></a>
          </li>
      </ul>
  </div>

  <div class="row footer-menu small">
      <div class="col-sm">
          © 2022 <a class="footer-link" href="{{ i18n page.attributes.lang 'company_homepage' }}" target="_blank">{{ i18n page.attributes.lang 'company_name' }}</a>
      </div>
      <div class="col-sm text-right">
          <a class="footer-link" href="{{ i18n page.attributes.lang 'terms_and_conditions_link' }}">{{ i18n page.attributes.lang 'terms_and_conditions_text' }}</a>
          |
          <a class="footer-link" href="{{ i18n page.attributes.lang 'privacy_policy_link' }}">{{ i18n page.attributes.lang 'privacy_policy_text' }}</a>
          |
          <a class="footer-link" href="{{ i18n page.attributes.lang 'legal_disclosure_link' }}">{{ i18n page.attributes.lang 'legal_disclosure_text' }}</a>
      </div>
    </div>
  </div>
</footer>
