<div class="left">
    <a class="logo logo-plentyone" href="{{ site.url }}/index.html"><img id="logo-img" src="{{ site.url }}/_/img/PlentyONE_Logo_PlentyBlue_RGB.svg" alt="home-logo"></a>
</div>

<div class="right">
    <div class="menu-wrapper">
        <a class="menu-item" href="{{ i18n page.attributes.lang 'plentymarkets_demo_system_link' }}" target="_blank">{{ i18n page.attributes.lang 'plentymarkets_demo_system' }}</a>
        <a class="menu-item" href="https://developers.plentymarkets.com/" target="_blank">{{ i18n page.attributes.lang 'developers_documentation' }}</a>
        <div class="dropdown menu-item">
          <button class="dropdown-toggle"
                  id="themeToggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
                  <i class="fa fa-paint-brush"></i> Theme
          </button>
          <div class="dropdown-menu submenu-item theme-dropdown" aria-labelledby="themeToggle">
              <span onclick="setTheme('theme-onyx')">Onyx</span>
              <span onclick="setTheme('theme-ivory')">Ivory</span>
          </div>
        </div>
        <div class="dropdown menu-item">
          <button class="dropdown-toggle"
                  id="langToggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
                  {{#if (eq page.attributes.lang 'de-de')}}DE{{else}}EN{{/if}}
          </button>
          <div class="dropdown-menu submenu-item" aria-labelledby="langToggle">
            {{#if (eq page.attributes.lang 'de-de')}}
              <a href="/en-gb/manual/main/{{ or page.attributes.href-en 'index' }}.html">EN</a>
            {{else}}
              <a href="/de-de/manual/main/{{ or page.attributes.href-de 'index' }}.html">DE</a>
            {{/if}}
          </div>
        </div>
    </div>
</div>
<div id="searchbar" class="searchbar">
  {{#if (eq site.url 'http://localhost:5252')}}
    <form action="search.html">
  {{else}}
    <form action="{{ site.url }}/{{ page.component.name }}/{{ page.version }}/search.html">
  {{/if}}
    <div class="input-group">
      <input class="search-input" id="search-input" type="text" name="query" placeholder="{{ i18n page.attributes.lang 'search_placeholder_text' }}" autocomplete="off" autofocus>
      <div class="input-group-append">
      <button class="searchSubmitButton" type="submit">
        <i class="fa fa-search"></i>
      </button>
      </div>
    </div>
    <div id="search-results"></div>
  </form>
</div>
